<div class="container">
  <% if @errors %>
    <%= @errors %>
  <% end %>

  <h1>Edit <%= @restaurant.name %> </h1>
  <form class="edit_restaurant" method="post" action="/restaurants/<%= @restaurant.id %> ">
    <input type="hidden" name="_method" value="put">

    <label for="name">Name:</label>
    <input type="text" id="name" name="restaurant[name]" value="<%= @restaurant.name %>">

    <label for="cuisine">Cuisine:</label>
      <select id="cuisine" name="restaurant[cuisine]">

        <!-- Currently selected cuisine will appear first along the list, followed by the other options.  -->
        <option value="<%= @restaurant.cuisine.downcase %>"><%= @restaurant.cuisine.titleize %></option>

        <% @cuisine.each do |type| %>
          <option value="<%= type.downcase %>"> <%= type %> </option>
        <% end %>
      </select>

    <label for="address">Address:</label>
    <input type="text" id="address" name="restaurant[address]" value="<%= @restaurant.address %>">

    <label for="city">City:</label>
    <input type="text" id="city" name="restaurant[city]" value="<%= @restaurant.city %>">

    <label for="state">State:</label>
    <input type="text" id="state" name="restaurant[state]" value="<%= @restaurant.state %>">

    <label for="zipcode">Zip:</label>
    <input type="text" id="zipcode" name="restaurant[zipcode]" value="<%= @restaurant.zipcode %>">

    <input type="submit" value="Edit Restaurant">
  </form>

</div>
